* {
  margin: 0;
  paddin: 0;
}

body {
  padding: 0 10px;
  font-size: 12px;
}

form {
  margin-bottom: 10px;

  input[type=text] {
    width: 400px;
  }
}

#apps {
  #list {
    margin-right: 410px;

    .app {
      position: relative;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #eee;
      cursor: pointer;

      .icon {
        position: absolute;
        top: 10px;
        left: 10px;

        img {
          border-radius: 18px;
        }
      }

      .text {
        min-height: 100px;
        margin-left: 110px;

        h2 {
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
    }

    .app:hover {
      background-color: #ccc;
    }
  }

  #selected {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    padding: 10px;
    overflow-y: scroll;

    .app {
      .icon {
        img {
          border-radius: 18px;
        }
      }

      .text {
        p {
          margin-bottom: 5px;
        }

        pre {
          white-space: pre-wrap;
          word-wrap: break-word;
          word-break: break-all;
        }
      }
    }
  }
}
